<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<body>

<p>お疲れ様です。</p>
<p th:text="|${reportDate}の日報を提出致します。|">日時</p>
<p>よろしくお願いします。</p>

<table>
    <tr>
        <th>稼働時間</th>
        <td>
            <span th:text="${contentObj.start}"></span> ~
            <span th:text="${contentObj.end}"></span>
            (<span th:text="${contentObj.working}"></span>)
        </td>
    </tr>
</table>

<h3>＜実施記録＞</h3>
<div th:text="${contentObj.record}" style="white-space: pre-wrap;"></div>

<h3>＜うまくいったこと＞</h3>
<div th:text="${contentObj.good}" style="white-space: pre-wrap;"></div>

<h3>＜改善したいこと＞</h3>
<div th:text="${contentObj.improve}" style="white-space: pre-wrap;"></div>

<h3>＜その他＞</h3>
<div th:text="${contentObj.other}" style="white-space: pre-wrap;"></div>
</body>
</html>