<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<body>

<h>日報を送ります</h>

<table>
    <tr>
        <th>対象日付</th>
        <td th:text="${reportDate}">日時</td>
    </tr>
    <tr>
        <th>稼働時間</th>
        <td>
            <span th:text="${contentObj.start}"></span> ~
            <span th:text="${contentObj.end}"></span>
            (<span th:text="${contentObj.working}"></span>)
        </td>
    </tr>
</table>

<h3>📝 1. 実施記録</h3>
<div th:text="${contentObj.record}"></div>

<h3>✨ 2. うまくいったこと</h3>
<div th:text="${contentObj.good}"></div>

<h3>🔥 3. 改善したいこと</h3>
<div th:text="${contentObj.improve}"></div>

<h3>💡 4. その他</h3>
<div th:text="${contentObj.other}"></div>

</body>
</html>