<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<body>

<h>週報を送ります</h>

<table>
    <tr>
        <th>対象日付</th>
        <td th:text="${reportDate}">日時</td>
    </tr>
    <tr>
        <th>稼働時間記録</th>
        <td>
            <span th:text="${contentObj.days}"></span>
        </td>
    </tr>
</table>

<h3>📝実施記録</h3>
<div th:text="${contentObj.record}"></div>

<h3>✨目標</h3>
<div th:text="${contentObj.goal}"></div>

<h3>💫振り返り</h3>
<div th:text="${contentObj.content}"></div>

</body>
</html>